#board {
  width: 1000px;
}

h2 {
  font-size: 1.3em;
  font-weight: bold;
  margin: 2px;
}

.column {
  width: 200px;
  float: left;
  
}

ul {
  padding-left: 0;
  background: #eeeeee;
  min-height: 3em;
  padding-top: 1px;
  padding-bottom: 1px;
}

li {
  border: 1px black solid;
  background: white;
  padding: 3px;
  margin: 10px 5px;
  list-style: none;
}