#board {
  width: 800px;
}

.title {
  font-size: 1.3em;
  font-weight: bold;
  margin: 2px;
}

.column {
  width: 200px;
  float: left;
}

.card {
  border: 1px black solid;
  padding: 3px;
  margin: 2px 1px;
}