<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
  <title>{% block title %}Kanboard Test{% endblock %}</title>
  <link rel="stylesheet" href="/kanboard/static/kanboard.css" type="text/css" media="all" />
  <script type="text/javascript" src="/kanboard/static/js/jquery-1.3.2.min.js"></script>
  <script type="text/javascript" src="/kanboard/static/js/jquery-ui-1.7.2.custom.min.js"></script>
  <script type="text/javascript">
{% include 'kanboard/main.js' %}
  </script>
</head>
<body>
{% block body %}
<h1>Kanboard Base Template</h1>

<p>[ This space intentionally left blank. ]</p>
{% endblock body %}
</body>
</html>
